<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>useLocationServices</key>
		<true/>
		<key>useViewDeck</key>
		<false/>
	</dict>
	<key>url</key>
	<string>https://code.pt</string>
	<key>urlScheme</key>
	<string>codept</string>
	<key>host</key>
	<string>code.pt</string>
	<key>api</key>
	<string>https://push.notifica.re/status</string>
	<key>nativeViews</key>
	<array>
		<string>codept://code.pt/inbox</string>
		<string>codept://code.pt/settings</string>
	</array>
	<key>social</key>
	<dict>
		<key>facebook</key>
		<string>392549870780732</string>
		<key>twitter</key>
		<string>notificare</string>
	</dict>
</dict>
</plist>
