<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>aad066ca10a9ced782194be1774553c517f0953857f1a55d3c54e0adcac2e0ec</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>b70dc1acd909baa35ff53a03ed6c7218e30f14f2e04b528c07fe15307ac473dc</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>4608b98c51fe2e98b312ea0eb30427f39038feff80aa219db22c9da096eef4c7</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>4147910e5a7152a4fa21073abd02f458ac1310d2a8ed6f392a80b44d7e6fdc63</string>
	<key>DEVELOPMENT</key>
	<true/>
	<key>RESOURCE_BUNDLE</key>
	<string>DefaultTheme.bundle</string>
	<key>OPTIONS</key>
	<dict>
		<key>USE_SAFARI_VIEW</key>
		<true/>
		<key>URL_SCHEMES</key>
		<array>
			<string>callback</string>
			<string>demo</string>
		</array>
		<key>APP_RUNS_ON_BACKGROUND</key>
		<false/>
		<key>IMAGES_SHARING</key>
		<true/>
		<key>BACKGROUND_COLOR</key>
		<string>FFFFFF</string>
		<key>TOOLBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>NAVBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>ACTIVITY_INDICATOR_COLOR</key>
		<string>000000</string>
		<key>TITLE_COLOR</key>
		<string>000000</string>
		<key>BUTTONS_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_BACKGROUND_COLOR</key>
		<string>E5E5EA</string>
	</dict>
</dict>
</plist>
